body, html {
    overflow: hidden;
    font-family: 'Courier Prime', monospace;
    background-color: transparent;
    scroll-behavior: smooth;
}

p {
    margin: 10px 0;
}

h1 {
    z-index: 2;
    font-size: 50px;
    text-align: center;
    color: white;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h4 {
    margin: 0 auto;
    display: block;
    left: 200px;
    bottom: 350px;
    position: absolute;
    z-index: 2;
    font-size: 50px;
    text-align: center;
    color: white;
}

article {
    padding: 20px;
}

header {
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 3;
}

footer {
    width: 100%;
    background-color: white;
    z-index: 4;
}

.wrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.flag {
    top: 20%;
    position: relative;
    width: 100%;
}

.flag--shifted {
    position: relative;
    top: 70%;
}

.parallax-container {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-perspective: 1px;
            perspective: 1px;
    -webkit-perspective-origin: 0 0;
            perspective-origin: 0 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.parallax-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.parallax-container {
    -ms-overflow-style: none;
}

.background {
    background-repeat: no-repeat;
    display: block;
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateZ(-10px) scale(11);
            transform: translateZ(-10px) scale(11);
    height: 1000px;  /* Use media here */
}

.second-background {
    background-repeat: no-repeat;
    z-index: 3;
    display: block;
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    width: 100%;
}

@media only screen and (min-width: 1600px) {
    .background {
        background-repeat: no-repeat;
        display: block;
        -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
                transform-origin: 0 0;
        -webkit-transform: translateZ(-10px) scale(11);
                transform: translateZ(-10px) scale(11);
        height: 1500px
    }

    h4 {
        margin: 0 auto;
        display: block;
        left: 200px;
        bottom: 500px;
        position: absolute;
        z-index: 2;
        font-size: 65px;
        text-align: center;
        color: white;
    }

    .wrap {
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
    }
}

.parallax-child {
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translateZ(-3px) scale(4);
            transform: translateZ(-3px) scale(4);
    margin: 0 auto;
    width: 100%;
}

.main-first {
    -webkit-transform: translateY(40%);
        -ms-transform: translateY(40%);
            transform: translateY(40%);
    background-color: white;
}

.main-second {
    -webkit-transform: translateY(40%);
        -ms-transform: translateY(40%);
            transform: translateY(40%);
    background-color: white;
    margin-top: 25%;
}

.main-third {
    -webkit-transform: translateY(40%);
        -ms-transform: translateY(40%);
            transform: translateY(40%);
    background-color: white;
    margin-top: 25%;
}

.main-third-pictures {
    display: inline-block;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main-third-pictures::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.main-third-pictures {
    -ms-overflow-style: none;
}

/* Hide scrollbar for Mozilla*/
.main-third-pictures {
    scrollbar-width: none;
}

.main-third-pictures__item {
    display: block;
    padding: 20px;
    width: 320px;
    height: 320px;
}

.main-third-pictures__item img {
    width: 320px;
    height: 320px;
}

.header-grid-box {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -ms-grid-columns: 33% 34% 33%;
    grid-template-columns: 33% 34% 33%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
        grid-template-areas: 
        "link link2 link3";
}

.header-grid-box__item {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    padding: 20px;
    grid-area: link;
}

.header-grid-box__item2 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    padding: 20px;
    grid-area: link2;
}

.header-grid-box__item3 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    grid-column: 3;
    padding: 20px;
    grid-area: link3;
}

.second-grid-box {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
        grid-template-areas: 
        "fact1 fact2 fact3"
        "fact4 fact5 fact6";
}

.second-grid-box__item {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    padding: 20px;
    grid-area: fact1;
}

.second-grid-box__item2 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    padding: 20px;
    grid-area: fact2;
}

.second-grid-box__item3 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    grid-column: 3;
    padding: 20px;
    grid-area: fact3;
}

.second-grid-box__item4 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    padding: 20px;
    grid-area: fact4;
}

.second-grid-box__item5 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    padding: 20px;
    grid-area: fact5;
}

.second-grid-box__item6 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 3;
    grid-column: 3;
    padding: 20px;
    grid-area: fact6;
}

footer {
    padding: 10px;
}

.footer-grid-box {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
        grid-template-areas: 
        "item item2 item3";
}

.footer-grid-box__item {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    padding: 20px;
    grid-area: item;
}

.footer-grid-box__item2 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    padding: 20px;
    grid-area: item2;
}

.footer-grid-box__item3 {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 3;
    grid-column: 3;
    padding: 20px;
    grid-area: item3;
}

.prev, .next {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
  }

.prev:hover, .next:hover {
    color: white;
    background-color: rgba(0,0,0,0.8);
}


.article-grid-box{
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    /* justify-items: center;
    align-items: center; */
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        " . item ."
        "item2 item3 item4";
}

.article-grid-box__item {
    grid-area: item;
}

.article-grid-box__item2 {
    justify-self: center;
    align-self: center;
    grid-area: item2;
}

.article-grid-box__item3 {
    grid-area: item3;
}

.article-grid-box__item4 {
    justify-self: center;
    align-self: center;
    grid-area: item4;
}
